RewriteEngine On

# Redirect to index
RewriteRule ^$ "index.php" [L]

RewriteRule ^index$ "index.php" [L]

# Redirect to error page
RewriteRule ^error$ "error.php" [L]

# Redirect to dashboard
RewriteRule ^common$ "components/common.php" [L]

# Redirect to register
RewriteRule ^register$ "components/register.php" [L]

# Redirect to logout
RewriteRule ^logout$ "components/logout.php" [L]

# Redirect to professor
RewriteRule ^manager$ "components/manager.php" [L]

# Redirect to add balance
RewriteRule ^addbalance$ "components/edit_balance.php" [L]

# Redirect to extract balance
RewriteRule ^extrato$ "components/extrato.php" [L]

# Redirect to transfer balance
RewriteRule ^transfer$ "components/transfer.php" [L]

# Redirect to users list
RewriteRule ^usersList$ "components/manage_users.php" [L]

# Redirect to extract list
RewriteRule ^extractList$ "components/manage_extratos.php" [L]

# Redirect to register for manager 
RewriteRule ^regUser$ "components/reg.php" [L]

# Redirect to edit user with user ID
RewriteRule ^editUser/([0-9]+)$ "components/edit_user.php?user_id=$1" [L]

# Redirect to delete user
RewriteRule ^deleteUser/([0-9]+)$ "components/delete_user.php?user_id=$1" [L]
